@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-nav.ml-auto {
  margin-left: auto !important;
}

.navbar-brand{
  font-size: 1.9rem;
  font-weight: bold;
  color: #1e376c !important;
}
.nav_bg{
  background-color: #eaf3fa;
}
.mainHeading{
  font-weight: 500;
}
.navbar a:hover{
  color: #6c9cee;
}
.activeClass{
  font-weight: bold;
  border-bottom: 1px solid #1e376c;
}

#header{
  height: 80vh;
  width: 100%;
  margin-top: 60px;
  font-family: 'Lato', sans-serif;
}

#header .animated{
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}

.special{
  color: #1e376c;
}

.bio{
  font-size: 24px;
}
.pageTitle{
  font-size: 15px;
  width: 45px;
  border-bottom: 1px solid #1e376c;
  color: #1e376c;
}

.btn-get-started{
  border-radius: 80%;
  text-decoration: none;
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  color: black;
  border: 1px solid #f0964f;
  background-color: #f0964f;
}
.button1, .button2 {
  align-items: center;
  background-color: #f0964f;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  text-decoration: none;
}

.button1:hover,
.button1:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button2{
  margin-left: 10px;
  background-color: #16437E;
  color: #ffffff;

}

.button2:hover,
.button2:focus { 
  background-color: #f0964f;
  color: #000000;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}